div.recuadro{
    text-align: left;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 0.5px solid #C3C3C3;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 2px 4px -1px rgba(158,158,158,0.63);
    width: 300px;
    position: relative;
    
    
}

p.titulo{
    margin-top: 15px;
    font-size: 20px;
    font: helvetica;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

p.album{
    font: helvetica;
    font-weight: lighter;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
}

svg.corazon{
    right: 20px;
    bottom: 20px;
    position: absolute;
    
   
    
    
}



