



#lupa:hover{

    cursor: pointer;
    
    

}

#header{
    background-color: #76D7C4 ;
    padding: 7px;
    position: fixed;
    z-index: 10;
    width:100%;
    margin: 0 !important;
    box-shadow: 0px 2px 4px -1px rgba(158,158,158,0.63);
    
    
}

#britney{

    padding-top: 50px;
    margin: auto;
    
}
    
    


svg.contador{

    position: absolute;
    right: 20px;
    top:10px;
}


div.likes{
    color: white;
    position: absolute;
    right: 5px;
    top: 0px;
    background-color:#909497;
    width:25px;
    height:25px;
    border-radius:15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    
}

